name: Download

on:
#  release:
#    types: [published]
#  push:
#    branches:
#      - master
#    paths:
#      - '.config'
#  schedule:
#    - cron: 0 8 * * 5
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    



    steps:
       - name: Checkout
         uses: actions/checkout@master
         

       - name: Initializing environment
         run: |
          sudo apt install wget
          mkdir acer
            cd acer
          sudo wget https://www.mediafire.com/file/f9w5b6oys9yctuf/X671-H331AB-S-GL-220527V1013%2528MobiFirmware.com%2529.zip/fileyctuf/X671-H331AB-S-GL-220527V1013%28MobiFirmware.com%29.zip
   
             
       - name: Release Rom
         uses: softprops/action-gh-release@v1
         env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         with:
          tag_name: Rom
          name: Rom
          files: | 
            acer/acer.zip
