name: Download

on:
#  release:
#    types: [published]
#  push:
#    branches:
#      - master
#    paths:
#      - '.config'
#  schedule:
#    - cron: 0 8 * * 5
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    



    steps:
       - name: Checkout
         uses: actions/checkout@master
         

       - name: Initializing environment
         run: |
          sudo apt install wget
          mkdir acer
            cd acer
          wget https://www.mediafire.com/file/rtwetcdco4gurvj/Acer_One_8_T4_82L_Flash_file_By_flashfile.in.rar
   
             
       - name: Release Rom
         uses: softprops/action-gh-release@v
         env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         with:
          tag_name: Rom
          name: Rom
          files: | 
            acer/Acer+One+8+T4+82L+Flash+file+By+flashfile.in.rar
