name: Download

on:
#  release:
#    types: [published]
#  push:
#    branches:
#      - master
#    paths:
#      - '.config'
#  schedule:
#    - cron: 0 8 * * 5
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    



    steps:
       - name: Checkout
         uses: actions/checkout@master
         

       - name: Initializing environment
         run: |
          sudo apt install wget
          mkdir acer
            cd acer
          wget https://drive.google.com/file/d/18sO3p23Tnaso7Ij9YLC40en1ROOv9GWs/view
   
             
       - name: Release Rom
         uses: softprops/action-gh-release@v1
         env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         with:
          tag_name: Rom
          name: Rom
          files: | 
            acer/
